Repository josihu0604-lang/ZZIK-LIVE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

chore: Clean up project - Remove unnecessary documentation and build cache
  CHECKLIST.md
  FILE_STRUCTURE.md
  HOW_TO_USE_100_STEPS.md
  IMPROVEMENT_ROADMAP_100.md
  PROGRESS_TRACKER.json
  REPOSITORY_CLEANUP_REPORT.md
  STEP_1_VERIFICATION.md
  STEP_2_VERIFICATION.md
  STEP_3_VERIFICATION.md
  STEP_5_VERIFICATION.md
  STEP_6_VERIFICATION.md
  STEP_7_VERIFICATION.md
  STEP_8_VERIFICATION.md
  ZZIK_IMPLEMENTATION_COMPLETE.md
Due: prettier --write

chore: Final cleanup - Simplify project structure
  ARCHITECTURE.md
  CONTRIBUTING.md
  DEV_GUIDE.md
  OPERATIONS_GUIDE.md
  PROJECT_SUMMARY.md
  QUICKSTART.md
  README.md
  SERVER_MANAGEMENT.md
  ecosystem.config.js
  instrumentation.ts
  proxy.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat(g9): Implement Geofence Accuracy Enhancement
  app/(tabs)/pass/page.tsx
  app/api/scan/verify/route.ts
  components/map/AccuracyCircle.tsx
  components/map/DistanceBadge.tsx
  components/map/MapLiveExplore.tsx
  lib/db/verification.ts
  lib/feature-flags.ts
  lib/geolocation/enhanced-gps.ts
  lib/geolocation/geofence.ts
  lib/geolocation/kalman-filter.ts
  prisma/schema.prisma
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

docs: Add environment example for g9 feature flags
  .env.example.g9
Due: none

feat(g10): Add production-ready infrastructure - Part 1
  components/error/GPSErrorBoundary.tsx
  lib/cache/redis-cache.ts
  lib/testing/gps-simulator.ts
  tests/e2e/geofence.spec.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat(g10): Complete production-ready infrastructure
  app/admin/telemetry/page.tsx
Due: eslint --fix, prettier --write

fix: Add Mapbox token validation and error handling
  components/map/GeoFenceMap.tsx
  components/map/MapLiveExplore.tsx
  components/map/StoreClusterMap.tsx
Due: eslint --fix, prettier --write

docs: Update README with g9/g10 features and fixed dev server URL
  README.md
Due: prettier --write

feat(g11): AI-Powered Smart Geofence Optimization
  app/api/ai/optimize/route.ts
  lib/ai/adaptive-threshold.ts
  lib/ai/predictive-cache.ts
  lib/ai/spoofing-detector.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat(g10): GPS Simulator & Test Environment
  app/test/gps-simulator/page.tsx
  lib/geolocation/gps-simulator.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat(g11): GPS Telemetry Dashboard
  app/dashboard/gps-telemetry/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  bash -c 'tsc --noEmit': any of: *.ts
