Repository josihu0604-lang/ZZIK-LIVE: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat: inspection round 4 - automation and quality assurance
  .husky/_/.gitignore
  .husky/_/applypatch-msg
  .husky/_/commit-msg
  .husky/_/h
  .husky/_/husky.sh
  .husky/_/post-applypatch
  .husky/_/post-checkout
  .husky/_/post-commit
  .husky/_/post-merge
  .husky/_/post-rewrite
  .husky/_/pre-applypatch
  .husky/_/pre-auto-gc
  .husky/_/pre-commit
  .husky/_/pre-merge-commit
  .husky/_/pre-push
  .husky/_/pre-rebase
  .husky/_/prepare-commit-msg
  INSPECTION_ROUND_4_REPORT.md
Due: prettier --write

feat(round5): Advanced tooling - security, E2E, bundle, accessibility
  .lintstagedrc.json
  INSPECTION_ROUND_5_REPORT.md
  SECURITY_AUDIT_REPORT.md
  app/api/analytics/route.ts
  app/api/auth/magic-link/route.ts
  app/api/location/verify/route.ts
  app/api/receipt/verify/route.ts
  lib/server/request-validation.ts
  next.config.ts
  outdated.json
  package-lock.json
  package.json
  playwright.config.ts
  scripts/bundle-analysis.sh
  scripts/generate-pwa-icons.sh
  scripts/security-audit.sh
  security-audit.json
  tests/e2e/accessibility.spec.ts
  tests/e2e/api-endpoints.spec.ts
  tests/e2e/auth-flow.spec.ts
  tests/e2e/homepage.spec.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat(round6): Sentry integration, CI/CD workflow, console cleanup
  .env.example
  dead-code-list.txt
  instrumentation.ts
  next.config.ts
  package-lock.json
  package.json
  scripts/cleanup-console.sh
  scripts/validate-env.ts
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat(round7): Console cleanup, security fixes, code quality
  INSPECTION_ROUND_6_REPORT.md
  app/(tabs)/explore/page.tsx
  app/api/qr/verify/route.ts
  app/api/receipts/ocr/route.ts
  app/api/receipts/upload/route.ts
  app/api/verify/complete/route.ts
  app/api/verify/location/route.ts
  components/map/MapViewDynamic.tsx
  components/map/useClusters.ts
  eslint.config.mjs
  lib/analytics.ts
  lib/perf.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix(build): TypeScript errors and production build compatibility
  app/loading.tsx
  lib/server/request-validation.ts
  next-env.d.ts
  next.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

perf(icons): Optimize Icon component - reduce lucide-react imports from 80+ to 20 icons
  app/(tabs)/explore/page.tsx
  components/ui/Icon.tsx
Due: eslint --fix, prettier --write

refactor(cleanup): Dead code elimination - remove 10 unused files (~70KB, 2,400 lines)
  components/AnimatedButton.tsx
  components/AnimatedCard.tsx
  components/FeedbackWidget.tsx
  components/MicroInteractions.tsx
  components/Onboarding.tsx
  components/PerformanceWidget.tsx
  lib/a11y.ts
  lib/media.ts
  lib/perf.ts
  lib/privacy.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

chore(husky): Migrate to Husky v10 - remove deprecated hooks
  .husky/pre-commit
Due: none

refactor(optimization): Rounds 10-11 - Type cleanup + Dependency purge (-155 packages)
  package-lock.json
  package.json
Due: prettier --write

refactor(cleanup): Round 13 - Remove broken script references from package.json
  package.json
Due: prettier --write

docs(analysis): Rounds 14-19 최종 코드베이스 분석 완료
  types/index.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: resolve all 33 ESLint warnings
  app/(tabs)/scan/page.tsx
  app/api/analytics/route.ts
  app/api/auth/magic-link/route.ts
  app/api/location/verify/route.ts
  app/api/offers/route.ts
  app/api/qr/verify/route.ts
  app/api/receipt/verify/route.ts
  app/api/wallet/summary/route.ts
  app/auth/verify-otp/page.tsx
  components/map/MapView.tsx
  components/permissions/PermissionRequest.tsx
  components/qr/QRScannerView.tsx
  eslint.config.mjs
  lib/analytics/client.ts
  lib/location/verification.ts
  lib/map/nine-cell-prefetch.ts
  lib/redis.ts
  lib/search/scoring.ts
  lib/server/logger.ts
  lib/server/redis.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

refactor: Round 21 - DRY principle implementation
  app/api/analytics/route.ts
  app/api/auth/google/route.ts
  app/api/auth/instagram/route.ts
  app/api/auth/magic-link/route.ts
  app/api/auth/tiktok/route.ts
  app/api/receipts/ocr/route.ts
  lib/api/index.ts
  lib/api/json-parser.ts
  lib/api/responses.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat: Rounds 22-24 Complete - Type Safety + Performance + Memory
  app/(tabs)/scan/_components/QRScannerView.tsx
  app/api/location/verify/route.ts
  app/api/receipt/verify/route.ts
  app/api/wallet/redeem/route.ts
  components/map/MapView.tsx
  components/navigation/BottomTabBar.tsx
  lib/analytics.ts
  lib/location/verification.ts
  lib/map/nine-cell-prefetch.ts
  lib/qr/verification.ts
  lib/receipt/verification.ts
  lib/redis.ts
  lib/server/logger.ts
  lib/server/request-validation.ts
  lib/wallet/redemption.ts
  next-env.d.ts
  sentry.client.config.ts
  sentry.server.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat: Round 25 ULTIMATE FINAL OPTIMIZATION ⚡
  next-env.d.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: console errors - cross-origin dev warnings
  next-env.d.ts
  next.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: proxy routing - enable public access to browse pages
  proxy.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: map navigation and routing errors
  app/(tabs)/explore/page.tsx
  app/pass/page.tsx
Due: eslint --fix, prettier --write

refactor: ROUND 2 - Complete color system overhaul
  app/globals.css
Due: none

feat: ROUND 3 - Font system optimization with Korean support
  app/layout.tsx
  styles/typography.css
Due: eslint --fix, prettier --write

feat: Button/Interaction UX System v2.0 - Round 4 optimization
  app/auth/login/page.tsx
  app/globals.css
  app/layout.tsx
  components/ButtonInitializer.tsx
  components/navigation/BottomTabBar.tsx
  hooks/useButtonInteractions.ts
  lib/button-interactions.ts
  styles/buttons.css
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat(layout): implement comprehensive spacing and layout system
  app/auth/login/page.tsx
  app/feed/page.tsx
  app/globals.css
  app/styles/layout.css
  app/styles/spacing.css
Due: eslint --fix, prettier --write

feat(loading): implement comprehensive loading and error states
  app/error.tsx
  app/feed/page.tsx
  app/globals.css
  app/loading.tsx
  app/not-found.tsx
  app/styles/loading.css
  components/error/ErrorBoundary.tsx
  components/ui/EmptyState.tsx
  components/ui/ErrorAlert.tsx
  components/ui/Progress.tsx
  components/ui/Skeleton.tsx
  components/ui/Spinner.tsx
Due: eslint --fix, prettier --write

feat(mobile): comprehensive mobile responsive perfection
  app/globals.css
  app/layout.tsx
  app/offline/page.tsx
  app/styles/mobile.css
  components/mobile/PullToRefresh.tsx
  components/mobile/Swipeable.tsx
  components/navigation/BottomNav.tsx
  components/pwa/PWAInstaller.tsx
  lib/utils/touch.ts
  public/manifest.json
  public/sw.js
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

docs: 검수 개선 루프 완전 추적 시스템 구축
  AUDIT_REPORT.md
  TRACKING_DASHBOARD.md
Due: prettier --write

feat: Complete Round 8 Final Integration Testing 🎉
  FINAL_TEST_REPORT.md
  TRACKING_DASHBOARD.md
  app/not-found.tsx
  lighthouse-report.json
  next.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

fix: Add missing CSS variables and utility classes
  app/globals.css
Due: none

fix: Resolve hydration mismatch in FeedCard component
  components/feed/FeedCard.tsx
Due: eslint --fix, prettier --write

fix: Critical routing fix - rename feed to content
  app/content/content.module.css
  app/content/page.tsx
  app/page.tsx
Due: eslint --fix, prettier --write

fix: Update proxy.ts to use /content instead of /feed
  proxy.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

feat: Round 9 - Splash page UX/UI audit complete
  ROUND_9_SPLASH_AUDIT.md
  app/splash/page.tsx
  app/splash/splash.module.css
Due: eslint --fix, prettier --write

feat: Round 10 - Onboarding page UX/UI complete (98/100 A+)
  ROUND_10_ONBOARDING_AUDIT.md
  app/onboarding/onboarding.module.css
  app/onboarding/page.tsx
Due: eslint --fix, prettier --write

feat(auth): implement production-ready login page with comprehensive features
  app/auth/login/login.module.css
  app/auth/login/page.tsx
  app/onboarding/onboarding.module.css
Due: eslint --fix, prettier --write

feat(content): implement Content discovery page with advanced features - Round 12
  ROUND_12_CONTENT_AUDIT.md
  app/content/content.module.css
  app/content/page.tsx
  lib/data/influencers-2025.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

chore(warroom): stabilize main with comprehensive backend integration
  CHECKLIST.md
  app/api/health/route.ts
  app/auth/login/login.module.css
  app/auth/login/page.tsx
  app/auth/permissions/page.tsx
  app/auth/verify-otp/page.tsx
  app/splash/page.tsx
  app/splash/splash.module.css
  components/auth/AuthGate.tsx
  components/navigation/BottomTabBar.tsx
  instrumentation.ts
  lib/analytics/client.ts
  lib/analytics/schema.ts
  lib/hash.ts
  lib/prisma.ts
  lib/redis.ts
  lib/server/idempotency.ts
  lib/server/logger.ts
  lib/server/rate-limit.ts
  package-lock.json
  package.json
  playwright.config.ts
  proxy.ts
  test-results/.last-run.json
  tests/e2e/guest.guard.spec.ts
  tests/e2e/login.a11y.spec.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

docs: add comprehensive full stack status report
  FULLSTACK_STATUS_REPORT.md
Due: prettier --write

fix: resolve all build errors and clean up project structure
  CRITICAL_ISSUES_FIXED.md
  CURRENT_STATE.md
  DEEP_ANALYSIS_AND_SOLUTION.md
  FILE_STRUCTURE.md
  FULLSTACK_STATUS_REPORT.md
  INTEGRATION_SUCCESS_REPORT.md
  MODERN_TOOLS_ANALYSIS.md
  NANO_PARTICLE_ANALYSIS_FINAL.md
  REAL_FIX_SUMMARY.md
  SOLUTION_SUMMARY.md
  app/(tabs)/scan/page.tsx
  app/(tabs)/wallet/passes/page.tsx
  components/navigation/RouteTracker.tsx
  components/offers/OfferCard.tsx
  components/scan/QRScannerView.tsx
  lib/button-presets.ts
  logs/dev-server.log
  package-lock.json
  package.json
  test-results/.last-run.json
  types/index.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

docs: Add comprehensive repository cleanup report
  REPOSITORY_CLEANUP_REPORT.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  bash -c 'tsc --noEmit': any of: *.ts
